EXPO_PUBLIC_SUPABASE_URL=https://seu-projeto.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sua-chave-publica-anon
EXPO_PUBLIC_WEB_URL=https://99personal.com.br
EXPO_PUBLIC_REVENUECAT_IOS_KEY=your_revenuecat_ios_api_key
EXPO_PUBLIC_REVENUECAT_ANDROID_KEY=your_revenuecat_android_api_key
